.body_section{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    background: rgba( 0, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    .body_img_pokemon{
        height: 100%;
        width: 100%;
        max-width: 400px;
        margin-bottom: 50px;
        filter: brightness(0%);pointer-events: none;
    }
    @keyframes aparecer {
        0%{
            opacity: 1;
            filter: brightness(0%);
            transform: scale(1.1);
            z-index: 1;
        }
        25%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2);
        }
        100%{
            filter: brightness(100%);
            transform: scale(1);
        }
    }

    .body_img_pokemon.ok{
        filter: brightness(100%);
        animation-name: aparecer;
        animation-duration: 5s;
    }

    @keyframes treme {
        0% {margin-left: 0;}
        25% {margin-left: 15px;}
        50% {margin-left: 0;}
        75% {margin-left: -15px;}
        100% {margin-left: 0;}
    }

    .body_img_pokemon.erro{
        animation-name: treme;
        animation-duration: 0.2s;
    }

    #namePokemon{
        width: 100%;
        height: 40px;
        padding: 0 15px;
        background-color: transparent;
        border: 3px solid #006fbf;
        border-radius: 10px;
        font-family: Calibri;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
    }
    #namePokemon::placeholder{
        color: rgba(255, 255, 255, 0.7);
    }

    button{
        height: 40px;
        width: 20%;
        margin-top: 20px;
        background-color: transparent;
        border: #006fbf 4px solid;
        background-image: linear-gradient(to right, rgb(14, 155, 255) , rgb(0, 131, 254));
        border-radius: 10px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
}
// .body_section::before{
//     content: attr(data-ok);
//     display: flex;
//     position: absolute;
//     height: 50px;
//     width: 50px;
//     background-color: #00e004;
//     border: 5px solid #13bf00;
//     text-align: center;
//     border-radius: 100%;
//     color: #fff;
//     font-size: 1.7em;
//     font-weight: 700;
//     top: -15px;
//     right: -15px;
//     justify-content: center;
//     align-items: center;
// }